main {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.navItems {
  width: 350px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.navItem {
  font-size: 18px;
  /* margin: 0 10px; */
  cursor: pointer;
  font-family: var(--description_font);
  transition: color 0.3s ease, transform 0.3s ease;
}
.navItem:hover {
  color: var(--primary_color);
}
.navItem:last-child:hover {
  transform: scale(1.3);
}
.topSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aliceblue; */
  /* background-image: url("../../images/hero_background.svg"); */
}

/* navbar */
nav {
  width: 95%;
  max-width: 1200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  width: 300px;
}
nav .desktop {
  display: block;
}
nav .mobile {
  display: none;
}
nav .mobile {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
nav .mobile img {
  width: 100%;
  height: 100%;
}

nav .mobileNavDropdown {
  width: 100vw;
  height: calc(100vh);

  align-items: center;

  display: none;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: var(--lm-background);

  flex-direction: column;
}
nav .mobileNavDropdown .navItems {
  height: 350px;
  flex-direction: column;
}
nav .mobileNavDropdown .imgContainer {
  width: 95%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .mobileNavDropdown .closeMobileNavBTN {
  margin-left: auto;
  cursor: pointer;
}

nav .mobileNavDropdown .appContainer {
  width: 95%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: auto;
  padding-bottom: 20px;
}
.mobileNavDropdown .appContainer .app {
  width: 170px;
  height: 45px;
  position: relative;

  display: flex;
  align-items: center;

  padding: 5px;

  border: 1px solid black;
  border-radius: 5px;
  font-family: var(--description_font);
}
.mobileNavDropdown .appContainer .app img {
  margin-right: 10px;
}
/* Hero section */

.hero {
  width: 95%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}
.hero .phone {
  width: auto;
  height: 500px;
  background-color: black;
}
.hero .phone img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.hero .CTA {
  width: 670px;
}
.hero h1 {
  font-size: 50px;
  margin-bottom: 20px;
  font-family: var(--title_font);
}
.hero h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: var(--title_font);
  text-align: center;
}

.hero .appContainer {
  width: 360px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.hero .appContainer .app {
  width: 170px;
  height: 45px;
  position: relative;

  display: flex;
  align-items: center;

  padding: 5px;

  border: 1px solid black;
  border-radius: 5px;
  font-family: var(--description_font);
}
.hero .appContainer .app img {
  margin-right: 10px;
}

/* --------------------------------- */
/* what is blitz wallet section */
/* --------------------------------- */

/* --------------------------------- */
/* Footer */
/* --------------------------------- */

footer {
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: center;
  margin-top: 100px;
}
footer .content {
  max-width: 1200px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

footer .privcyContent {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .privcyContent p:first-child {
  margin-bottom: 10px;
}
footer .privcyContent div {
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .img {
  width: 100px;

  height: 100px;
}
footer .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
footer .footerItems {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

@media screen and (max-width: 1000px) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero .CTA {
    margin-bottom: 50px;
  }
  .hero h1 {
    text-align: center;
  }
  /* --------------------------------- */
  /* Footer */
  /* --------------------------------- */
  footer .content {
    height: 450px;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 730px) {
  .hero .CTA {
    width: 95%;
  }
  .hero h1 {
    font-size: 40px;
    text-wrap: wrap;
  }
  .hero h2 {
    font-size: 20px;
  }
  nav .desktop {
    display: none;
  }
  nav .mobile {
    display: flex;
  }
}
