main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  /* background-image: url("../../images/hero_background.svg"); */
}

/* navbar */
nav {
  width: 95%;
  max-width: 1200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  width: 300px;
}
nav .navItems {
  display: flex;
  list-style: none;
  align-items: center;
}
nav .navItem {
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
  font-family: var(--description_font);
  transition: color 0.3s ease, transform 0.3s ease;
}
nav .navItem:hover {
  color: var(--primary_color);
}
nav .navItem:last-child:hover {
  transform: scale(1.3);
}
/* Hero section */

.hero {
  width: 95%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}
.hero .phone {
  width: 250px;
  height: 400px;
  background-color: black;
}
.hero .CTA {
  width: 670px;
}
.hero h1 {
  font-size: 50px;
  margin-bottom: 20px;
  font-family: var(--title_font);
}
.hero h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: var(--title_font);
}

.hero .appContainer {
  width: 360px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.hero .appContainer .app {
  width: 170px;
  height: 45px;
  position: relative;

  display: flex;
  align-items: center;

  padding: 5px;

  border: 1px solid black;
  border-radius: 5px;
  font-family: var(--description_font);
}
.hero .appContainer .app img {
  margin-right: 10px;
}
